name: realm_generator
description: >-
             Generates RealmObject classes from Realm data model classes.
             This package is part of the official Realm Flutter and Realm Dart SDKs.

version: 0.3.1+beta

homepage: https://www.realm.io
repository: https://github.com/realm/realm-dart
issue_tracker: https://github.com/realm/realm-dart/issues

publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  analyzer: ^4.0.0
  build_resolvers: ^2.0.9
  build: ^2.0.0
  dart_style: ^2.2.0
  realm_common:
    path: ../common
  source_gen: ^1.1.0
  source_span: ^1.8.0

dev_dependencies:
  build_test: ^2.1.4
  lints: ^2.0.0
  test: ^1.14.3
  path: ^1.0.0
