out
.vs
src/realm-dart-extension/.vs
#ingore build file
lib/realm_dart_extension.dll
build/
src/object-store-static-lib/out/
src/realm-dart-extension/out/
.dart_tool/pub/bin/sdk-version
lib/default.realm
lib/default.realm.lock
lib/realm_dart_extension.pdb
realm_dart_extension.dll
test/realm_dart_extension.dll
.dart_tool/pub/bin/test/test.dart.snapshot.dart2
src/vendor-include/realm-win-x64/lib/

.dart_tool/

pubspec.lock
.packages
flutter/realm_flutter/.idea/
flutter/realm_flutter/android/.cxx/
flutter/realm_flutter/pubspec.lock
flutter/realm_flutter/.gradle/
/default.realm*
