# Ingore build file
.dart_tool/

# Dart packages and Flutter plugins should not commit these files
**/pubspec.lock
.packages
.flutter-plugins
.flutter-plugins-dependencies
**/build/

# melos
.idea/
pubspec_overrides.yaml
melos**.iml

# test
test-results.json
**/coverage/

# dos
**/doc/api/

# custom lint
**/custom_lint.log