out
.vs
#ingore build file
.dart_tool/

lib/default.realm
lib/default.realm.lock

pubspec.lock
.packages
flutter/realm_flutter/.idea/
flutter/realm_flutter/android/.idea/
flutter/realm_flutter/android/.cxx/
flutter/realm_flutter/pubspec.lock
flutter/realm_flutter/.gradle/
/default.realm*
/test/default.realm
/test/default.realm.lock
/doc/
#ignore native binaries output directory
/binary/

#ignore native binaries build directories
/build-android/
/build/
/build-ios/
/build-linux/
/build-macos/

