name: realm
description: The official Realm SDK for Flutter. Realm is a mobile database - an alternative to SQLite and key-value stores.
version: 0.1.0+preview

homepage: https://www.realm.io
repository: https://github.com/realm/realm-dart
issue_tracker: https://github.com/realm/realm-dart/issues

publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0 <2.1.0"

dependencies:
  flutter:
    sdk: flutter
  realm_generator: 
    path: ../../generator
  meta: ^1.2.4
  ffi: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: io.realm.realm_flutter
        pluginClass: RealmFlutterPlugin
      ios:
        pluginClass: RealmFlutterPlugin