name: realm
description: The official Realm SDK for Flutter. Realm is a mobile database - an alternative to SQLite and key-value stores.
version: 0.2.0-alpha

homepage: https://www.realm.io
repository: https://github.com/realm/realm-dart
issue_tracker: https://github.com/realm/realm-dart/issues

publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  realm_generator: 
    path: ../../generator
  meta: ^1.2.4
  ffi: ^1.1.2

dev_dependencies:
  test: ^1.14.3
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: io.realm
        pluginClass: RealmPlugin
      ios:
        pluginClass: RealmPlugin

      # Mac is not supported yet
      macos:
        pluginClass: RealmPlugin
