name: realm
description: The official Realm SDK for Flutter. Realm is a mobile database - an alternative to SQLite and key-value stores.
version: 1.8.0

homepage: https://www.realm.io
repository: https://github.com/realm/realm-dart
issue_tracker: https://github.com/realm/realm-dart/issues

publish_to: none

environment:
  sdk: ^3.0.0
  flutter: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  realm_dart:
    path: ../..

flutter:
  plugin:
    platforms:
      android:
        package: io.realm
        pluginClass: RealmPlugin
      ios:
        pluginClass: RealmPlugin
      linux:
        pluginClass: RealmPlugin
      macos:
        pluginClass: RealmPlugin
      windows:
        pluginClass: RealmPlugin
