name: realm
description: The official Realm SDK for Flutter. Realm is a mobile database - an alternative to SQLite and key-value stores.
version: 0.3.0+alpha

homepage: https://www.realm.io
repository: https://github.com/realm/realm-dart
issue_tracker: https://github.com/realm/realm-dart/issues

publish_to: none

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=2.8.0"

dependencies:
  flutter:
    sdk: flutter
  args: ^2.3.0
  build_cli_annotations: ^2.0.0
  crypto: ^3.0.0
  ffi: ^1.1.2
  json_annotation: ^4.4.0
  logging: ^1.0.0
  meta: ^1.1.8
  package_config: ^2.0.0
  path: ^1.0.0
  pubspec_parse: ^1.0.0
  pub_semver: ^2.1.0
  realm_common:
    path: ../../common
  realm_generator:
    path: ../../generator
  tar: ^0.5.4
  build_runner: ^2.1.0
  http: ^0.13.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_cli: ^2.1.3
  json_serializable: ^6.1.0
  lints: ^1.0.1

flutter:
  plugin:
    platforms:
      android:
        package: io.realm
        pluginClass: RealmPlugin
      ios:
        pluginClass: RealmPlugin
      linux:
        pluginClass: RealmPlugin
      macos:
        pluginClass: RealmPlugin
      windows:
        pluginClass: RealmPlugin
