name: realm
description: The official Realm SDK for Flutter. Realm is a mobile database - an alternative to SQLite and key-value stores.
version: 20.1.1

homepage: https://www.realm.io
repository: https://github.com/realm/realm-dart
issue_tracker: https://github.com/realm/realm-dart/issues

environment:
  sdk: ^3.6.0
  flutter: ^3.27.0

dependencies:
  flutter:
    sdk: flutter
  realm_dart: ^20.1.1

flutter:
  plugin:
    platforms:
      android:
        package: io.realm
        pluginClass: RealmPlugin
      ios:
        pluginClass: RealmPlugin
      linux:
        pluginClass: RealmPlugin
      macos:
        pluginClass: RealmPlugin
      windows:
        pluginClass: RealmPlugin
