name: Realm Dart CI

on:
  push:
    branches:
      - master
  pull_request:
env:
  BAAS_URL: ${{ secrets.REALM_QA_URL }}
  BAAS_API_KEY: ${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}
  BAAS_PRIVATE_API_KEY: ${{ secrets.ATLAS_QA_PRIVATE_API_KEY }}
  BAAS_PROJECT_ID: ${{ secrets.ATLAS_QA_PROJECT_ID}}
  REALM_CI: true

jobs:

  deploy-cluster:
    runs-on: ubuntu-latest
    if: always()
    name: Deploy Cluster
    outputs:
      clusterName: ${{ steps.cluster-name.outputs.clusterName }}
    steps:
      - name: Get cluster suffix
        id: cluster-name
        run: echo "::set-output name=clusterName::dart$(date +'%d%p')"

      - uses: realm/ci-actions/mdb-realm/deployApps@5a92f55213cad94fb27f979ed84c7948559d9f21
        with:
          realmUrl: ${{ env.BAAS_URL }}
          atlasUrl: ${{ secrets.ATLAS_QA_URL }}
          projectId: ${{ env.BAAS_PROJECT_ID }}
          apiKey: ${{ env.BAAS_API_KEY }}
          privateApiKey: ${{ env.BAAS_PRIVATE_API_KEY }}
          clusterName: ${{ steps.cluster-name.outputs.clusterName }}
          useExistingCluster: true

  build-native:
    runs-on: ${{ matrix.runner }}-latest
    name: Build native
    strategy:
      fail-fast: false
      matrix:
        include:
          - { preset: windows, runner: windows }
          - { preset: macos, runner: macos }
          - { preset: linux, runner: ubuntu }
          - { preset: ios, build: ios-device, runner: macos }
          - { preset: ios, build: ios-simulator, runner: macos }
          - { preset: ios, build: ios-catalyst, runner: macos }
          - { preset: android-x86, binary: android, runner: ubuntu }
          - { preset: android-x86_64, binary: android, runner: ubuntu }
          - { preset: android-armeabi-v7a, binary: android, runner: ubuntu }
          - { preset: android-arm64-v8a, binary: android, runner: ubuntu }
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Check cache
        id: check-cache
        if: ${{ !contains(github.head_ref, 'release/') }}
        uses: actions/cache@v3
        with:
          path: ./binary/**
          key: binaries-${{ matrix.build || matrix.preset }}-${{hashFiles('./src/**')}}

      - name: Setup Ninja
        if: contains(github.head_ref, 'release/') || steps.check-cache.outputs.cache-hit != 'true'
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Get vcpkg submodule commit sha
        id: vcpkg_cache_key
        if: contains(github.head_ref, 'release/') || steps.check-cache.outputs.cache-hit != 'true'
        working-directory: src/realm-core/tools/vcpkg/ports
        shell: bash
        run: echo "::set-output name=commit::$(git rev-parse HEAD)"

      - name: Setup Vcpkg
        if: contains(github.head_ref, 'release/') || steps.check-cache.outputs.cache-hit != 'true'
        continue-on-error: true
        uses: friendlyanon/setup-vcpkg@v1
        with:
          path: src/realm-core/tools/vcpkg/ports
          cache-key: vcpkg-${{ matrix.preset }}-${{ hashFiles('./src/realm-core/tools/vcpkg/vcpkg.json') }}-${{ steps.vcpkg_cache_key.outputs.commit }}
          cache-restore-keys: vcpkg-${{ matrix.preset }}-

      - name: Setup Android NDK
        if: startsWith(matrix.preset, 'android-')
        run: echo "ANDROID_NDK=$ANDROID_NDK_LATEST_HOME" >> $GITHUB_ENV

      - name: Build
        if: ${{ contains(github.head_ref, 'release/') || steps.check-cache.outputs.cache-hit != 'true' }}
        run: |
          cmake --preset ${{ matrix.preset }}
          cmake --build --preset ${{ matrix.build || matrix.preset }} --config Release

      - name: Store artifacts
        uses: actions/upload-artifact@v2
        with:
          name: librealm-${{ matrix.build || matrix.preset }}
          path: binary/${{ matrix.binary || matrix.preset }}/**
          retention-days: 1

  build-android-combined:
    name: Combine Android binaries
    needs: build-native
    uses: ./.github/workflows/binary-combine-android.yml

  build-ios-xcframework:
    name: Combine IOS binaries
    needs: build-native
    uses: ./.github/workflows/binary-combine-ios.yml

  baas-matrix:
    needs:
      - deploy-cluster
    strategy:
      fail-fast: false
      matrix:
        include:
          - app: dm
            description: dart macos
          - app: dma
            description: dart macos-arm
          - app: dl
            description: dart linux
          - app: dw
            description: dart windows
          - app: fm
            description: flutter macos
          - app: fl
            description: flutter linux
          - app: fw
            description: flutter windows
          - app: fa
            description: flutter android
          - app: fi
            description: flutter iOS
    runs-on: ubuntu-latest
    name: Deploy apps for ${{ matrix.description }}
    timeout-minutes: 20
    env:
      BAAS_CLUSTER: ${{ needs.deploy-cluster.outputs.clusterName }}
      BAAS_DIFFERENTIATOR: ${{ matrix.app }}${{ github.run_id }}${{ github.run_attempt }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false

      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable

      - name: Random delay
        id: cluster-name
        run: echo "sleep $((RANDOM % 10))"

      - name: Deploy Apps
        run: |
          dart run realm_dart deploy-apps \
            --baas-url ${{ env.BAAS_URL }} \
            --atlas-cluster ${{ env.BAAS_CLUSTER }} \
            --api-key ${{ env.BAAS_API_KEY }} \
            --private-api-key ${{ env.BAAS_PRIVATE_API_KEY }} \
            --project-id ${{ env.BAAS_PROJECT_ID }} \
            --differentiator "${{ env.BAAS_DIFFERENTIATOR }}"

  cleanup-matrix:
    needs:
      - dart-tests
      - flutter-desktop-tests
      - flutter-ios
      - flutter-android
      - deploy-cluster
    strategy:
      fail-fast: false
      matrix:
        include:
          - app: dm
            description: dart macos
          - app: dma
            description: dart macos-arm
          - app: dl
            description: dart linux
          - app: dw
            description: dart windows
          - app: fm
            description: flutter macos
          - app: fl
            description: flutter linux
          - app: fw
            description: flutter windows
          - app: fa
            description: flutter android
          - app: fi
            description: flutter iOS
    runs-on: ubuntu-latest
    name: Cleanup apps for ${{ matrix.description }}
    timeout-minutes: 20
    if: always()
    env:
      BAAS_CLUSTER: ${{ needs.deploy-cluster.outputs.clusterName }}
      BAAS_DIFFERENTIATOR: ${{ matrix.app }}${{ github.run_id }}${{ github.run_attempt }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false

      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable

      - name: Cleanup apps
        run: |
          dart run realm_dart delete-apps \
            --baas-url ${{ env.BAAS_URL }} \
            --atlas-cluster ${{ env.BAAS_CLUSTER }} \
            --api-key ${{ env.BAAS_API_KEY }} \
            --private-api-key ${{ env.BAAS_PRIVATE_API_KEY }} \
            --project-id ${{ env.BAAS_PROJECT_ID }} \
            --differentiator '${{ env.BAAS_DIFFERENTIATOR }}'

# Dart jobs

  dart-tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos
            app: dm
          - os: macos
            architecture: arm
            app: dma
          - os: windows
            app: dw
          - os: linux
            app: dl
    runs-on: ${{ matrix.os == 'linux' && 'ubuntu' || matrix.os }}-${{ matrix.architecture || 'latest' }}
    name: Dart tests on ${{matrix.os }} ${{ matrix.architecture }}
    env:
      BAAS_CLUSTER: ${{ needs.deploy-cluster.outputs.clusterName }}
      BAAS_DIFFERENTIATOR: ${{ matrix.app }}${{ github.run_id }}${{ github.run_attempt }}
    needs:
      - deploy-cluster
      - build-native
      - baas-matrix
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false

      - name: Cleanup Workspace
        run: git clean -fdx

      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-${{ matrix.os }}
          path: binary/${{ matrix.os }}

      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable
          architecture: ${{ matrix.architecture == 'arm' && 'arm64' || 'x64'}}

      - name: Install dependencies
        run: dart pub get

      - name: Run tests
        run: ${{ matrix.architecture == 'arm' && 'arch -arm64 ' || '' }}dart test -r expanded -j 1 --test-randomize-ordering-seed random

# Flutter jobs

  flutter-desktop-tests:
    strategy:
      fail-fast: false
      matrix:
        include:
            - os: macos
              app: fm
            - os: windows
              app: fw
            - os: linux
              app: fl
    runs-on: ${{ matrix.os == 'linux' && 'ubuntu' || matrix.os }}-latest
    name: Flutter tests on ${{matrix.os  }}
    env:
      BAAS_CLUSTER: ${{ needs.deploy-cluster.outputs.clusterName }}
      BAAS_DIFFERENTIATOR:  ${{ matrix.app }}${{ github.run_id }}${{ github.run_attempt }}
    needs:
      - deploy-cluster
      - build-native
      - baas-matrix
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false

      - name: Setup GTK
        if: ${{ matrix.os == 'linux' }}
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libgtk-3-dev xvfb

      - name: Setup Ninja
        if: ${{ matrix.os == 'linux' }}
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-${{ matrix.os }}
          path: binary/${{ matrix.os }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Enable Flutter Desktop support
        run: flutter config --enable-${{ matrix.os }}-desktop

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests
        run: ${{ matrix.os == 'linux' && 'xvfb-run' || '' }} flutter drive -d ${{ matrix.os }} --target=test_driver/app.dart --suppress-analytics --dart-entrypoint-args="" #--verbose #-a="Some test name"
        working-directory: ./flutter/realm_flutter/tests

  flutter-ios:
    runs-on: macos-latest
    name: Flutter Tests iOS
    env:
      BAAS_CLUSTER: ${{ needs.deploy-cluster.outputs.clusterName }}
      BAAS_DIFFERENTIATOR: fi${{ github.run_id }}${{ github.run_attempt }}
    needs:
      - deploy-cluster
      - build-ios-xcframework
      - baas-matrix
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Enable ccache
        run: echo "PATH=/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH" >> $GITHUB_ENV

      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-ios
          path: binary/ios

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Launch Simulator
        uses: futureware-tech/simulator-action@v1
        with:
          model: 'iPhone 8'
          os: 'iOS'
          os_version: '>= 14.0'

      - name: Run tests on iOS Simulator
        run: |
          flutter drive --target=test_driver/app.dart --dart-define=testName="" --suppress-analytics
        working-directory: ./flutter/realm_flutter/tests

  flutter-android:
    runs-on: macos-latest
    name: Flutter Tests Android
    env:
      BAAS_CLUSTER: ${{ needs.deploy-cluster.outputs.clusterName }}
      BAAS_DIFFERENTIATOR: fa${{ github.run_id }}${{ github.run_attempt }}
    needs:
      - deploy-cluster
      - build-android-combined
      - baas-matrix
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-android
          path: binary/android

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      # TODO: move this to device farm
      - name: Setup Android Emulator cache
        uses: actions/cache@v3.0.4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-29

      - name: Create Android Emulator and generate snapshot for caching
        if: ${{ steps.avd-cache.outputs.cache-hit != 'true' }}
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          arch: x86
          ndk: 21.0.6113669
          cmake: 3.10.2.4988404
          script: echo "Generated Emulator snapshot for caching."

      - name: Run tests on Android Emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          force-avd-creation: false
          disable-animations: true
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          api-level: 29
          ndk: 21.0.6113669
          arch: x86
          cmake: 3.10.2.4988404
          script: flutter drive --target=test_driver/app.dart --dart-define=testName="" --suppress-analytics
          working-directory: ./flutter/realm_flutter/tests

# Generator jobs

  generator:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]

    runs-on: ${{ matrix.os }}-latest
    name: Generator Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Delete generated files
        run: find . -name "*.g.dart" -not -path "./generator/*" -delete
        shell: bash

      - name: Run generator in realm-dart repo
        run: |
          dart pub get
          dart run build_runner build --delete-conflicting-outputs

      - name: Run generator in realm_flutter/example
        run: |
          dart pub get
          dart run build_runner build --delete-conflicting-outputs
        working-directory: ./flutter/realm_flutter/example/

      - name: Install LLVM
        run: sudo apt update && sudo apt-get install -y libclang-dev
        if: ${{ matrix.os == 'ubuntu' }}

      - name: Run ffigen
        run: dart run ffigen --config config.yaml
        working-directory: ./ffigen

      - name: Validate there are no uncommitted changes
        run: |
          changedFiles=$(git --no-pager diff -w)
          if [ "$changedFiles" ]; then
            git --no-pager diff -w
            exit 1
          fi
        shell: bash

      - name: Run generator tests
        run: |
          dart pub get
          dart test --reporter expanded --coverage ./coverage/ --test-randomize-ordering-seed random
        working-directory: ./generator/

      - name: Generate generator coverage report
        if: ${{ false && matrix.os == 'ubuntu' }}
        run: |
          dart run coverage:format_coverage \
            --in coverage/ \
            --out ./coverage/lcov.info \
            --check-ignore \
            --lcov \
            --packages .packages \
            --report-on lib
        working-directory: ./generator/

      - name: Publish Generator Coverage
        if: ${{ false && matrix.os == 'ubuntu' }}
        id: publish-generator-coverage
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: realm_generator
          path-to-lcov: ./generator/coverage/lcov.info
        continue-on-error: true

      - name: Output Coveralls response
        if: ${{ false && matrix.os == 'ubuntu' }}
        run: echo ${{ steps.publish-generator-coverage.outputs.coveralls-api-result }}
