name: Dart desktop tests

on:
  workflow_call:
    inputs:
      os:
        description: OS to execute on.
        required: true
        type: string
      runner:
        description: GitHub runner image to execute on.
        required: true
        type: string
      architecture:
        description: Architecture to execute on.
        required: false
        type: string
      differentiator:
        description: Differentiator for the BaaS container.
        required: true
        type: string

env:
  REALM_CI: true
  BAAS_BAASAAS_API_KEY: ${{ secrets.BAASAAS_API_KEY}}
  BAAS_DIFFERENTIATOR: ${{ inputs.differentiator }}

jobs:
  dart-tests:
    runs-on: ${{ inputs.runner }}
    name: Dart tests on ${{inputs.os }} ${{ inputs.architecture }}
    timeout-minutes: 45

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          submodules: false

      - name: Fetch artifacts
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: librealm-${{ inputs.os }}
          path: packages/realm_dart/binary/${{ inputs.os }}

      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable
          architecture: ${{ inputs.architecture == 'arm' && 'arm64' || 'x64'}}

      - name: Setup Melos
        run: |
          dart pub global activate melos
          melos bootstrap --no-flutter
          melos setup

      - name: Bump ulimit on macos
        run: ulimit -n 10240
        if: ${{ contains(inputs.os, 'macos') }}

      - name: Run tests
        run: ${{ inputs.architecture == 'arm' && 'arch -arm64 ' || '' }}melos test:unit

      # TODO: Publish all reports
      - name: Publish Test Report
        uses: dorny/test-reporter@v1.7.0
        if: success() || failure()
        with:
          name: Test Results Dart ${{ inputs.os }} ${{ inputs.architecture }}
          path: test-results.json
          reporter: dart-json
          only-summary: true
          working-directory: packages/realm_dart

      - name: Gather coverage report
        if: inputs.runner == 'ubuntu-latest'
        run: |
          sudo apt-get install -y lcov
          mkdir coverage
          touch coverage/merged_lcov.info
          find . -name lcov.info | xargs -I % lcov --ignore-errors empty -a % -a coverage/merged_lcov.info -o coverage/merged_lcov.info

      - name: Publish coverage
        if: inputs.runner == 'ubuntu-latest'
        id: publish-coverage
        uses: coverallsapp/github-action@f350da2c033043742f89e8c0b7b5145a1616da6d
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: realm_dart
          path-to-lcov: ./coverage/merged-lcov.info
          parallel: true

      - name: Output Coveralls response
        if: inputs.runner == 'ubuntu-latest'
        run: echo ${{ steps.publish-coverage.outputs.coveralls-api-result }}