name: Dart desktop tests

on:
  workflow_call:
    inputs:
      runner:
        description: GitHub runner image to execute on.
        required: true
        type: string
      arch:
        description: Architecture to execute on.
        default: x64
        type: string

env:
  REALM_CI: true

jobs:
  dart-tests:
    runs-on: ${{ inputs.runner }}
    name: Dart tests on ${{ inputs.runner }}-${{ inputs.arch }}
    timeout-minutes: 45

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Check runner.arch
        if: ${{ inputs.arch != runner.arch }}
        run: false # fail if arch is not as expected
        shell: bash

      - id: runner_os_lowercase
        # there is no such thing as ${{ tolower(runner.os) }}, hence this abomination ¯\_(ツ)_/¯
        # use with steps.runner_os_lowercase.outputs.os
        run: echo ${{ runner.os }} | awk '{print "os=" tolower($0)}' >> $GITHUB_OUTPUT
        shell: bash

      - name: Fetch artifacts
        uses: actions/download-artifact@v4
        with:
          name: librealm-${{ steps.runner_os_lowercase.outputs.os }}
          path: packages/realm_dart/binary/${{ steps.runner_os_lowercase.outputs.os }}

      - name: Setup Runner
        uses: ./.github/actions/setup-runner

      - name: Bump ulimit on macos
        run: |
          ulimit -n
          ulimit -n 10240
        if: ${{ contains(runner.os, 'macos') }}

      - name: Run tests ${{ runner.os }} ${{ runner.arch }}
        run: melos test:unit

      # TODO: Publish all reports
      - name: Publish Test Report
        uses: dorny/test-reporter@v1.8.0
        if: success() || failure()
        with:
          name: Test Results Dart ${{ runner.os }} ${{ runner.arch }}
          path: test-results.json
          reporter: dart-json
          only-summary: true
          working-directory: packages/realm_dart

      - name: Gather coverage report
        if: inputs.runner == 'ubuntu-latest'
        run: |
          sudo apt-get install lcov
          melos setup
          melos coverage:convert
          melos coverage:gather
          melos coverage:groom

      - name: Publish coverage
        if: inputs.runner == 'ubuntu-latest'
        id: publish-coverage
        uses: coverallsapp/github-action@f350da2c033043742f89e8c0b7b5145a1616da6d
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: realm_dart
          path-to-lcov: ./coverage/lcov.info
          parallel: true
