name: Flutter desktop tests

on:
  workflow_call:
    inputs:
      os:
        description: OS to execute on.
        required: true
        type: string
      runner:
        description: GitHub runner image to execute on.
        required: true
        type: string
      architecture:
        description: Architecture to execute on.
        required: false
        type: string
      differentiator:
        description: Differentiator for the BaaS container.
        required: true
        type: string

env:
  REALM_CI: true

jobs:
  flutter-tests:
    runs-on: ${{ inputs.runner }}
    name: Flutter tests on ${{inputs.os }}-${{ inputs.architecture }}
    timeout-minutes: 45
    env:
      BAAS_BAASAAS_API_KEY: ${{ secrets.BAASAAS_API_KEY}}
      BAAS_DIFFERENTIATOR: ${{ inputs.differentiator }}
    defaults:
      run:
        working-directory: realm/packages/realm/tests  

    steps:

      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          submodules: false

      - name: Setup GTK
        if: ${{ inputs.os == 'linux' }}
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libgtk-3-dev xvfb

      - name: Setup Ninja
        if: ${{ inputs.os == 'linux' }}
        uses: seanmiddleditch/gha-setup-ninja@1815f2d05c2cd60c2d900f89843139b8dde09f4c

      - name: Fetch artifacts
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: librealm-${{ inputs.os }}
          path: realm/packages/realm_dart/binary/${{ inputs.os }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: ${{ inputs.architecture == 'arm' && 'arm64' || 'x64'}}

      - name: Enable Flutter Desktop support
        run: flutter config --enable-${{ inputs.os }}-desktop

      - name: Install dependencies
        run: dart pub get

      - name: Bump ulimit
        run: ulimit -n 10240
        if: ${{ contains(inputs.os, 'macos') }}

      - name: Run tests
        run: |
          ${{ inputs.os == 'linux' && 'xvfb-run' || '' }} \
          flutter test integration_test/all_tests.dart \
            --dart-define=BAAS_BAASAAS_API_KEY=$BAAS_BAASAAS_API_KEY \
            --dart-define=BAAS_DIFFERENTIATOR=$BAAS_DIFFERENTIATOR \
            --device-id=${{ inputs.os }} \
            --file-reporter=json:test-results.json \
            --suppress-analytics
        shell: bash
        working-directory: realm/packages/realm/tests

      - name: Publish Test Report
        uses: dorny/test-reporter@v1.7.0
        if: success() || failure()
        with:
          name: Test Results Flutter ${{ inputs.os }} ${{ inputs.architecture }}
          path: test-results.json
          reporter: dart-json
          only-summary: true
          working-directory: realm/packages/realm/tests
