name: Flutter desktop tests

on:
  workflow_call:
    inputs:
      runner:
        description: GitHub runner image to execute on.
        required: true
        type: string
      arch:
        description: Architecture to execute on.
        default: x64
        type: string

env:
  REALM_CI: true

jobs:
  flutter-tests:
    runs-on: ${{ inputs.runner }}
    name: Flutter tests on ${{ inputs.runner }}-${{ inputs.arch }}
    timeout-minutes: 45
    defaults:
      run:
        working-directory: packages/realm/tests

    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Check runner.arch
        if: ${{ inputs.arch != runner.arch }}
        run: false # fail if arch is not as expected
        shell: bash

      - id: runner_os_lowercase
        # there is no such thing as ${{ tolower(runner.os) }}, hence this abomination ¯\_(ツ)_/¯
        # use with steps.runner_os_lowercase.outputs.os
        run: echo ${{ runner.os }} | awk '{print "os=" tolower($0)}' >> $GITHUB_OUTPUT
        shell: bash

      - name: Setup GTK & Ninja on Linux
        if: ${{ runner.os == 'linux' }}
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libgtk-3-dev xvfb ninja-build

      - name: Fetch artifacts
        uses: actions/download-artifact@v4
        with:
          name: librealm-${{ steps.runner_os_lowercase.outputs.os }}
          path: packages/realm_dart/binary/${{ steps.runner_os_lowercase.outputs.os }}

      - name: Setup Runner
        uses: ./.github/actions/setup-runner

      - name: Bump ulimit
        run: |
          ulimit -n
          ulimit -n 10240
        if: ${{ contains(runner.os, 'macos') }}

      - name: Run tests
        run: |
          ${{ runner.os == 'linux' && 'xvfb-run' || '' }} \
          flutter test integration_test/all_tests.dart \
            --device-id=${{ steps.runner_os_lowercase.outputs.os }} \
            --file-reporter=json:test-results.json \
            --suppress-analytics
        shell: bash
        working-directory: packages/realm/tests

      - name: Publish Test Report
        uses: dorny/test-reporter@v1.8.0
        if: success() || failure()
        with:
          name: Test Results Flutter ${{ runner.os }} ${{ runner.arch }}
          path: test-results.json
          reporter: dart-json
          only-summary: true
          working-directory: packages/realm/tests
