name: Flutter desktop tests

on:
  workflow_call:
    inputs:
      os:
        description: OS to execute on.
        required: true
        type: string
      runner:
        description: GitHub runner image to execute on.
        required: true
        type: string
      architecture:
        description: Architecture to execute on.
        required: false
        type: string
      app:
        description: App name prefix
        required: true
        type: string
      cluster:
        description: Cluster name to deploy.
        required: true
        type: string

env:
  BAAS_URL: ${{ secrets.REALM_QA_URL }}
  BAAS_API_KEY: ${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}
  BAAS_PRIVATE_API_KEY: ${{ secrets.ATLAS_QA_PRIVATE_API_KEY }}
  BAAS_PROJECT_ID: ${{ secrets.ATLAS_QA_PROJECT_ID}}
  REALM_CI: true

jobs:
  flutter-tests:
    runs-on: ${{ inputs.runner }}
    name: Flutter tests on ${{inputs.os }}-${{ inputs.architecture }}
    timeout-minutes: 45
    env:
      BAAS_CLUSTER: ${{ inputs.cluster }}
      BAAS_DIFFERENTIATOR:  ${{ inputs.app }}${{ github.run_id }}${{ github.run_attempt }}
    steps:

      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          submodules: false

      - name: Setup GTK
        if: ${{ inputs.os == 'linux' }}
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libgtk-3-dev xvfb

      - name: Setup Ninja
        if: ${{ inputs.os == 'linux' }}
        uses: seanmiddleditch/gha-setup-ninja@1815f2d05c2cd60c2d900f89843139b8dde09f4c

      - name: Fetch artifacts
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: librealm-${{ inputs.os }}
          path: binary/${{ inputs.os }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: ${{ inputs.architecture == 'arm' && 'arm64' || 'x64'}}
          # Delete flutter-version argument after Flutter tests CI on MacOS are fixed.
          #Issue :https://github.com/flutter/flutter/issues/118469
          #flutter-version: ${{ inputs.os == 'macos' && '3.3.10' || ''}}

      - name: Enable Flutter Desktop support
        run: flutter config --enable-${{ inputs.os }}-desktop

      - name: Install dependencies
        run: flutter pub get

      # This will be a no-op under normal circumstances since the cluster would have been deployed
      # in deploy-cluster. It is needed in case we want to re-run the job after the cluster has been reaped.
      - name: Create cluster
        uses: realm/ci-actions/mdb-realm/deploy@96023a542b1a3aa5083ebb3ef9f57a02fd697bb8
        with:
          realmUrl: ${{ env.BAAS_URL }}
          atlasUrl: ${{ secrets.ATLAS_QA_URL }}
          projectId: ${{ env.BAAS_PROJECT_ID }}
          apiKey: ${{ env.BAAS_API_KEY }}
          privateApiKey: ${{ env.BAAS_PRIVATE_API_KEY }}
          clusterName: ${{ env.BAAS_CLUSTER }}

      - name: Run tests
        run: ${{ inputs.os == 'linux' && 'xvfb-run' || '' }} flutter test integration_test/app_test.dart -d ${{ inputs.os }} -j 1 -r 'expanded'
        working-directory: ./flutter/realm_flutter/tests