name: PR Build

on:
  push:
    branches:
      - master
    tags:
      - '[0-9]+.[0-9]+.[0-9]+**' # matches tags like number(s).number(s).number(s)(any) for ex: 1.0.0 and also 1.0.0+beta
  pull_request:
env:
  REALM_CI: true

jobs:
# Linux jobs

  baas-linux:
    runs-on: ubuntu-latest
    name: BaaS Linux
    outputs:
      clusterName: ${{ steps.deploy-mdb-apps.outputs.clusterName }}
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false
      - uses: realm/ci-actions/mdb-realm/deployApps@fac1d6958f03d71de743305ce3ab27594efbe7b7
        id: deploy-mdb-apps
        with:
          projectId: ${{ secrets.ATLAS_PROJECT_ID }}
          apiKey: ${{ secrets.ATLAS_PUBLIC_API_KEY }}
          privateApiKey: ${{ secrets.ATLAS_PRIVATE_API_KEY }}
          differentiator: dart-linux
      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable
      - name: Deploy Apps
        run: |
          dart run realm_dart deploy-apps \
            --baas-url https://realm-dev.mongodb.com \
            --atlas-cluster ${{ steps.deploy-mdb-apps.outputs.clusterName }} \
            --api-key ${{ secrets.ATLAS_PUBLIC_API_KEY }} \
            --private-api-key ${{ secrets.ATLAS_PRIVATE_API_KEY }} \
            --project-id ${{ secrets.ATLAS_PROJECT_ID }}
  build-linux:
    runs-on: ubuntu-latest
    name: Build Linux
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Build Realm Dart for Linux
        run: ./scripts/build-linux.sh
      - name: Store artifacts
        uses: actions/upload-artifact@v2
        with:
          name: librealm-linux
          path: binary/**
          retention-days: 1
  tests-linux:
    runs-on: ubuntu-latest
    name: Tests Linux
    env:
      BAAS_URL: https://realm-dev.mongodb.com
      BAAS_CLUSTER: ${{ needs.baas-linux.outputs.clusterName }}
      BAAS_API_KEY: ${{ secrets.ATLAS_PUBLIC_API_KEY }}
      BAAS_PRIVATE_API_KEY: ${{ secrets.ATLAS_PRIVATE_API_KEY }}
      BAAS_PROJECT_ID: ${{ secrets.ATLAS_PROJECT_ID}}
    needs:
      - baas-linux
      - build-linux
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false
      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-linux
          path: binary
      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable
      - name: Install dependencies
        run: dart pub get
      - name: Run tests
        run: dart test -r expanded -j 1 --test-randomize-ordering-seed random

      # TODO: these should go away once we have a proper release workflow
      - name: Archive binary
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        run: |
          echo "ARCHIVE_PATH=$(pwd)/binary/linux.tar.gz" >> $GITHUB_ENV
          dart run realm_dart archive --source-dir $(pwd)/binary/linux --output-file $ARCHIVE_PATH
      - name: Release artifacts
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: ncipollo/release-action@v1
        with:
          allowUpdates:  true
          artifactErrorsFailBuild: true
          draft: true
          omitNameDuringUpdate: true
          prerelease: false
          omitPrereleaseDuringUpdate: true
          artifacts: ${{ env.ARCHIVE_PATH }}
          body: "ADD RELEASE NOTES"
          omitBodyDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
  flutter-linux:
    runs-on: ubuntu-latest
    name: Flutter Tests Linux
    needs:
      - build-linux
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false
      - name: Setup GTK
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libgtk-3-dev xvfb
      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-linux
          path: binary
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Enable Flutter Desktop support
        run: flutter config --enable-linux-desktop
      - name: Install dependencies
        run: flutter pub get
      - name: Run tests
        run: xvfb-run flutter drive -d linux --target=test_driver/app.dart --suppress-analytics --dart-entrypoint-args="" #--verbose #-a="Some test name"
        working-directory: ./flutter/realm_flutter/tests
  cleanup-linux:
    runs-on: ubuntu-latest
    name: Cleanup Linux
    needs:
      - tests-linux
    if: always()
    timeout-minutes: 5
    steps:
      - uses: realm/ci-actions/mdb-realm/cleanup@fac1d6958f03d71de743305ce3ab27594efbe7b7
        with:
          projectId: ${{ secrets.ATLAS_PROJECT_ID}}
          apiKey: ${{ secrets.ATLAS_PUBLIC_API_KEY}}
          privateApiKey: ${{ secrets.ATLAS_PRIVATE_API_KEY }}
          differentiator: dart-linux

# macOS jobs

  build-macos:
    runs-on: macos-latest
    name: Build macOS
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build Realm Dart for macOS
        run: ./scripts/build-macos.sh
      - name: Store artifacts
        uses: actions/upload-artifact@v2
        with:
          name: librealm-macos
          path: binary/**
          retention-days: 1
  tests-macos:
    runs-on: macos-latest
    name: Tests macOS
    needs:
      - build-macos
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false
      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-macos
          path: binary
      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable
      - name: Install dependencies
        run: dart pub get
      - name: Run tests
        run: dart test -r expanded -j 1 --test-randomize-ordering-seed random

      # TODO: these should go away once we have a proper release workflow
      - name: Archive binary
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        run: |
          echo "ARCHIVE_PATH=$(pwd)/binary/macos.tar.gz" >> $GITHUB_ENV
          dart run realm_dart archive --source-dir $(pwd)/binary/macos --output-file $ARCHIVE_PATH
      - name: Release artifacts
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: ncipollo/release-action@v1
        with:
          allowUpdates:  true
          artifactErrorsFailBuild: true
          draft: true
          omitNameDuringUpdate: true
          prerelease: false
          omitPrereleaseDuringUpdate: true
          artifacts: ${{ env.ARCHIVE_PATH }}
          body: "ADD RELEASE NOTES"
          omitBodyDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
  flutter-macos:
    runs-on: macos-latest
    name: Flutter Tests macOS
    needs:
      - build-macos
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false
      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-macos
          path: binary
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Enable Flutter Desktop support
        run: flutter config --enable-macos-desktop
      - name: Install dependencies
        run: flutter pub get
      - name: Run tests
        run: flutter drive -d macos --target=test_driver/app.dart --suppress-analytics --dart-entrypoint-args="" #--verbose #-a="Some test name"
        working-directory: ./flutter/realm_flutter/tests

# Windows jobs
  build-windows:
    runs-on: windows-latest
    name: Build Windows
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build Realm Dart for Windows
        run: scripts\build.bat
      - name: Store artifacts
        uses: actions/upload-artifact@v2
        with:
          name: librealm-windows
          path: binary/**
          retention-days: 1
  tests-windows:
    runs-on: windows-latest
    name: Tests Windows
    needs:
      - build-windows
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false
      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-windows
          path: binary
      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable
      - name: Install dependencies
        run: dart pub get
      - name: Run tests
        run: |
          dart test -r expanded -j 1 --test-randomize-ordering-seed random

      # TODO: these should go away once we have a proper release workflow
      - name: Archive binary
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        run: |
          echo "ARCHIVE_PATH=$(pwd)\\binary\\windows.tar.gz" >> $env:GITHUB_ENV
          echo "ARCHIVE_SOURCE_PATH=$(pwd)\\binary\\windows" >> $env:GITHUB_ENV
          dart run realm_dart archive --source-dir ${{ env.ARCHIVE_SOURCE_PATH }} --output-file ${{ env.ARCHIVE_PATH }}
      - name: Release artifacts
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: ncipollo/release-action@v1
        with:
          allowUpdates:  true
          artifactErrorsFailBuild: true
          draft: true
          omitNameDuringUpdate: true
          prerelease: false
          omitPrereleaseDuringUpdate: true
          artifacts: ${{ env.ARCHIVE_PATH }}
          body: "ADD RELEASE NOTES"
          omitBodyDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
  flutter-windows:
    runs-on: windows-latest
    name: Flutter Tests Windows
    needs:
      - build-windows
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false
      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: librealm-macos
          path: binary
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Enable Flutter Desktop support
        run: flutter config --enable-windows-desktop
      - name: Install dependencies
        run: flutter pub get
      - name: Run tests
        run: flutter drive -d windows --target=test_driver/app.dart --suppress-analytics --dart-entrypoint-args="" #--verbose #-a="Some test name"
        working-directory: ./flutter/realm_flutter/tests
