name: Realm Dart for Windows

on:
  push:
    branches: [ master ]
    # Do not run if change is in these paths
    paths-ignore:
      - 'flutter/**'
      - 'generator/**'
  pull_request:
    branches: [ master ]
    # Do not run if change is in these paths
    paths-ignore:
        - 'flutter/**'
        - 'generator/**'

jobs:
  CI:
    runs-on: windows-2019

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Build Ralm Dart for Windows
        run: |
          mkdir build
          cd build
          ..\scripts\build.bat

      # Note: This workflow uses the latest stable version of the Dart SDK.
      # You can specify other versions if desired, see documentation here:
      # https://github.com/dart-lang/setup-dart/blob/main/README.md
      # - uses: dart-lang/setup-dart@v1
      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main

      - name: Install dependencies
        run: dart pub get

      - name: Run tests
        run: dart test test\realm_test.dart --name ""
