name: Realm Flutter for Android

on:
  push:
    branches:
      - master
    tags:
      - '[0-9]+.[0-9]+.[0-9]+**' # matches tags like number(s).number(s).number(s)(any) for ex: 1.0.0 and also 1.0.0+beta
  pull_request:

jobs:
  CI:
    runs-on: macos-latest
    env:
      REALM_CI: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Set build all binaries var
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        run: echo "BUILD_ALL=all" >> $GITHUB_ENV

      - name: Build Realm Flutter for Android
        run: |
          mkdir build-android
          cd build-android
          export ANDROID_NDK=$ANDROID_NDK_HOME
          echo ANDROID_NDK: $ANDROID_NDK
          ./../scripts/build-android.sh $BUILD_ALL

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Setup Android Emulator cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-31

      - name: Create Android Emulator and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          arch: x86
          ndk: 21.0.6113669
          cmake: 3.10.2.4988404
          script: echo "Generated Emulator snapshot for caching."

      - name: Run tests on Android Emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          force-avd-creation: false
          disable-animations: true
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          api-level: 31
          ndk: 21.0.6113669
          arch: x86
          cmake: 3.10.2.4988404
          script: flutter drive --target=test_driver/app.dart --dart-define=testName="" --suppress-analytics #--verbose
          working-directory: ./flutter/realm_flutter/tests

      - name: Set Archive Path
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        run: |
          echo "ARCHIVE_PATH=$(pwd)/binary/android.tar.gz" >> $GITHUB_ENV

      - name: Archive binary
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        run: |
          dart run realm_dart archive --source-dir $(pwd)/binary/android --output-file $ARCHIVE_PATH

      - name: Release artifacts
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: ncipollo/release-action@v1
        with:
          allowUpdates:  true
          artifactErrorsFailBuild: true
          draft: true
          omitNameDuringUpdate: true
          prerelease: false
          omitPrereleaseDuringUpdate: true
          artifacts: ${{ env.ARCHIVE_PATH }}
          body: "ADD RELEASE NOTES"
          omitBodyDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}