name: Realm Dart for Linux

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'flutter/**'
      - 'generator/**'
      - '.github/**'
      - '!.github/workflows/realm-dart-linux.yml' # except this one
    tags:
      - '[0-9]+.[0-9]+.[0-9]+**' # matches tags like number(s).number(s).number(s)(any) for ex: 1.0.0 and also 1.0.0+beta

  pull_request:
    paths-ignore:
      - 'flutter/**'
      - 'generator/**'
      - '.github/**'
      - '!.github/workflows/realm-dart-linux.yml' # except this one

jobs:
  CI:
    runs-on: ubuntu-latest
    env:
      REALM_CI: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Build Realm Dart for Linux
        run: ./scripts/build-linux.sh

      - name : Setup Dart SDK
        uses: dart-lang/setup-dart@main
        with:
          sdk: stable

      - name: Install dependencies
        run: dart pub get

      - name: Run tests
        run: |
          dart test -r expanded
          echo "ARCHIVE_PATH=$(pwd)/binary/linux.tar.gz" >> $GITHUB_ENV
  
      - name: Archive binary
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        run: |
          dart run realm_dart archive --source-dir $(pwd)/binary/linux --output-file $ARCHIVE_PATH

      - name: Release artifacts
        # env:
          # EVENT_CONTEXT: ${{ toJSON(github.event) }}
          # EVENT_CONTEXT: ${{ toJSON(github) }}
        if: ${{ success() && github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: ncipollo/release-action@v1
        with:
          allowUpdates:  true
          artifactErrorsFailBuild: true
          draft: true
          omitNameDuringUpdate: true
          prerelease: false
          omitPrereleaseDuringUpdate: true
          artifacts: ${{ env.ARCHIVE_PATH }}
          body: "ADD RELEASE NOTES"
          omitBodyDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
        # run: | 
        #   echo "Creating a release for tag ${{ github.ref_name }}"
        #   # echo $EVENT_CONTEXT
        #   # echo "github.event_name ${{ github.event_name }}"
        #   # echo "github.ref_type ${{ github.ref_type }}"
        #   # echo "github.ref_name ${{ github.ref_name }}"